<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey App | Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <a href="/logout">Logout</a>

    <div class="grid-container">
        <div class="grid-item">
            <h1><u>My Surveys</u></h1>

            <!-- My surveys -->
            <% data.mySurveys.forEach(survey => { %>
                <div class="survey">
                    <label><%= survey.code + ' - ' + survey.name %></label>
                    <input class = "buttonIcon" onclick="window.location.href = '/publishSurvey/<%= survey.code %>';" type="image" src="icons/upload_icon.png" alt="publish" name="upload icon">
                    <input class = "buttonIcon" onclick="window.location.href = '/editSurvey/<%= survey.code %>';" type="image" src="icons/edit_icon.png" alt="edit" name="edit icon">
                    <input class = "buttonIcon" onclick="window.location.href = '/deleteSurvey/<%= survey.code %>';" type="image" src="icons/trash_icon.png" alt="delete" name="delete icon">
                </div>
                <br>
            <% }); %>

            <!-- Add survey button -->
            <input type="image" onclick="window.location.href = '/createSurvey';" src="icons/add_icon.png" alt="create survey" name="add icon">

        </div>
        
        <div class="grid-item">
            <h1><u>Active Surveys</u></h1>

            <!-- Published surveys -->
            <% data.publishedSurveys.forEach(survey => { %>
                <div class="survey">
                    <label><%= survey.code + ' - ' + survey.name %></label>
                    <input class = "buttonIcon" onclick="window.location.href = '/downloadSurveyData/<%= survey.code %>';" type="image" src="icons/download_icon.png" alt="download" name="download icon">
                    <input class = "buttonIcon" onclick="window.location.href = '/unpublishSurvey/<%= survey.code %>';" type="image" src="icons/minus_icon.png" alt="unpublish" name="minus icon">
                </div>
                <br>
            <% }); %>

        </div>
    </div>
</body>
</html>