<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey App | Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <script language="JavaScript">
        function onPublishClick(code) {
            let response = confirm('The survey will be published. Continue?');
            if(response == true) {
                window.location.href = '/publishSurvey/' + code;
            }
        }
        function onDeleteClick(code) {
            let response = confirm('The survey will be deleted. Continue?');
            if(response == true) {
                window.location.href = '/deleteSurvey/' + code;
            }
        }
        function onStartClick(code) {
            let response = confirm('The survey will start. Continue?');
            if(response == true) {
                window.location.href = '/startSurvey/' + code;
            }
        }
        function onPushClick(code) {
            let response = confirm('The next questions will be sent out. Continue?');
            if(response == true) {
                window.location.href = '/push/' + code;
            }
        }
        function onUnpublishClick(code) {
            let response = confirm('All data will be lossed. Continue?');
            if(response == true) {
                window.location.href = '/unpublishSurvey/' + code;
            }
        }
    </script>
</head>

<body>
    <input class="buttonIcon" onclick="window.location.href = '/profile';" type="image" src="icons/user.png" alt="view profile" name="profile icon">
    <input class="buttonIcon" onclick="window.location.href = '/logout';" type="image" src="icons/sign-out-alt.png" alt="logout" name="logout icon">

    <div class="grid-container">
        <div class="grid-item">
            <h1><u>My Surveys</u></h1>

            <!-- My surveys -->
            <% data.mySurveys.forEach(survey => { %>
                <div class="survey surveyControls">
                    <label class="surveyCode"><%= survey.code %></label>
                    <label><%= survey.name %></label>
                    <input class="buttonIcon" onclick="window.location.href = '/editSurvey/<%= survey.code %>';" type="image" src="icons/edit.png" alt="edit" name="edit icon">
                    <input class="buttonIcon" onclick="onPublishClick('<%= survey.code %>')" type="image" src="icons/rocket.png" alt="publish" name="upload icon">
                    <input class="buttonIcon" onclick="onDeleteClick('<%= survey.code %>')" type="image" src="icons/trash.png" alt="delete" name="delete icon">
                </div>
                <br>
            <% }); %>

            <!-- Add survey button -->
            <input class="largeButtonIcon" onclick="window.location.href = '/createSurvey'; "type="image"  src="icons/add.png" alt="create survey" name="add icon">
        </div>
        
        <div class="grid-item">
            <h1><u>Active Surveys</u></h1>

            <!-- Published surveys -->
            <% data.publishedSurveys.forEach(survey => { %>
                <div class="survey">
                    <div class="surveyControls">
                        <label class="surveyCode"><%= survey.code %></label>
                        <label><%= survey.name %></label>
                        <% if(survey.getProgressPercent() == 0) { %>
                            <input class="buttonIcon" onclick="onStartClick('<%= survey.code %>')" type="image" src="icons/play.png" alt="start" name="start icon">
                        <% } %>
                        <% if(!survey.isFinished) { %>
                            <input class="buttonIcon" onclick="onPushClick('<%= survey.code %>')" type="image" src="icons/smartphone.png" alt="push" name="push icon">
                        <% } %>
                        <input class="buttonIcon" onclick="window.location.href = '/downloadSurveyData/<%= survey.code %>';" type="image" src="icons/download.png" alt="download" name="download icon">
                        <input class="buttonIcon" onclick="onUnpublishClick('<%= survey.code %>')" type="image" src="icons/x.png" alt="unpublish" name="remove icon">
                    </div>
                    <div class="surveyControls"> 
                        <% if(survey.isFinished) { %>
                            <progress id="progress_bar" value=<%= survey.getProgressPercent() %> max="100"></progress>
                            <img class="buttonIcon" type="image" src="icons/check_bold.png" alt="done">
                        <% } else { %>
                            <progress id="progress_bar" value=<%= survey.getProgressPercent()-10 %> max="100"></progress>
                        <% } %>
                    </div>
                </div>
                <br>
            <% }); %>

        </div>
    </div>
</body>
<footer>
	<p class="attribution">Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>
</html>